In [1]:
import pandas as pd

In [26]:
train = pd.read_csv("package/train.csv")
train["feature 0"] = pd.to_datetime(train["feature 0"])
train["day"] = train["feature 0"].dt.day
train["month"] = train["feature 0"].dt.month
train["year"] = train["feature 0"].dt.year
train

,index,feature 0,feature 1,feature 2,feature 3,feature 4,feature 5,feature 6,feature 7,feature 9,predict,day,month,year
0,0,2014-11-23,2.6,2.4,2.6,2.6,27.0,33.0,25.6,36.0,5.5,23,11,2014
1,1,2014-01-24,0.0,0.0,0.0,0.0,25.2,28.3,23.0,35.3,12.6,24,1,2014
2,2,2017-07-01,0.0,0.0,0.0,0.0,29.3,32.6,26.9,28.8,6.5,1,7,2017
3,3,2015-09-29,0.0,0.0,0.0,0.0,28.2,31.7,24.9,26.3,5.7,29,9,2015
4,4,2016-11-06,1.0,0.8,1.0,1.0,28.1,31.7,25.0,28.1,8.6,6,11,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,895,2014-03-12,0.0,0.0,0.0,0.0,27.7,33.4,24.7,36.7,13.1,12,3,2014
896,896,2016-02-06,2.6,1.2,1.2,1.2,28.0,31.4,26.1,44.6,14.8,6,2,2016
897,897,2014-05-19,29.4,18.8,27.6,28.6,27.1,30.2,22.7,43.9,6.3,19,5,2014
898,898,2017-04-07,3.6,1.2,1.8,2.8,27.7,33.0,23.9,48.6,8.3,7,4,2017
899,899,2015-01-17,0.0,0.0,0.0,0.0,26.5,30.9,23.5,37.1,14.1,17,1,2015

In [27]:
test = pd.read_csv("package/test.csv")
test["feature 0"] = pd.to_datetime(test["feature 0"])
test["day"] = test["feature 0"].dt.day
test["month"] = test["feature 0"].dt.month
test["year"] = test["feature 0"].dt.year
test

,index,feature 0,feature 1,feature 2,feature 3,feature 4,feature 5,feature 6,feature 7,feature 9,day,month,year
0,900,2017-09-03,0.0,0.0,0.0,0.0,29.2,32.1,27.4,36.7,3,9,2017
1,901,2014-11-04,0.0,0.0,0.0,0.0,29.7,33.8,26.5,29.2,4,11,2014
2,902,2015-02-04,7.0,5.2,6.4,7.0,25.1,27.1,23.1,34.2,4,2,2015
3,903,2015-10-27,0.0,0.0,0.0,0.0,28.4,33.1,25.6,28.4,27,10,2015
4,904,2014-01-17,0.0,0.0,0.0,0.0,25.6,28.6,23.5,41.8,17,1,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,1064,2014-01-01,0.0,0.0,0.0,0.0,26.3,28.8,24.3,34.2,1,1,2014
165,1065,2017-09-08,37.4,21.8,29.8,37.4,27.2,32.4,23.5,49.7,8,9,2017
166,1066,2014-05-09,21.8,17.2,21.4,21.6,28.1,32.2,25.8,37.8,9,5,2014
167,1067,2015-06-14,10.4,6.8,8.2,10.2,26.3,28.1,24.2,42.8,14,6,2015
168,1068,2015-05-08,4.4,3.4,3.6,3.6,28.3,31.4,26.5,34.2,8,5,2015

In [28]:
sub = pd.read_csv("package/submission.csv")
sub

     index predict
0      900     ???
1      901     ???
2      902     ???
3      903     ???
4      904     ???
..     ...     ...
164   1064     ???
165   1065     ???
166   1066     ???
167   1067     ???
168   1068     ???

[169 rows x 2 columns]

In [29]:
X_train = train[['day', 'month', 'year', 'feature 1', 'feature 2', 'feature 3',
       'feature 4', 'feature 5', 'feature 6', 'feature 7', 'feature 9']].values
y_train = train.predict.values
X_test = test[['day', 'month', 'year', 'feature 1', 'feature 2', 'feature 3',
       'feature 4', 'feature 5', 'feature 6', 'feature 7', 'feature 9']].values

In [52]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
import sklearn

In [43]:
def predictor(clf, name):
    clf.fit(X_train, y_train)
    sub.predict = clf.predict(X_test).round(1)
    sub.to_csv(f"submission_{name}.csv", index=False)

In [44]:
clf = SVR(kernel="linear")
predictor(clf, "linear_svm")

In [45]:
clf = SVR(kernel="poly")
predictor(clf, "poly_svm")

In [46]:
clf = SVR(kernel="rbf")
predictor(clf, "rbf_svm")

In [48]:
clf = LinearRegression()
predictor(clf, "linreg")

In [49]:
clf = Ridge()
predictor(clf, "ridge")

In [50]:
clf = Lasso()
predictor(clf, "lasso")

In [51]:
clf = RandomForestRegressor()
predictor(clf, "rf")

In [53]:
clf = sklearn.neural_network.MLPRegressor()
predictor(clf, "mlp")

AttributeError: module 'sklearn' has no attribute 'neural_network'